@using MyCompany.Service

<!DOCTYPE html>
<html>

<head>
    <title>@Config.CompanyName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
</head>

<body>
    <div class="sitename">
        <h2>Finances</h2>
    </div>
    <div class="row">
        <div class="column left">
            <h2>Опції</h2><br>
            <div class="options">
                <a href="#"> Мій профіль </a><br>
                <a href="#"> Додати людину </a><br>
                <a href="#"> Згенерувати звіт </a><br>
            </div>
        </div>
        <div class="column right">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src="~/js/main.js"></script>
</body>

</html>

@if (IsSectionDefined("scripts"))
{
    RenderSection("scripts");
}