@model IQueryable<EntityBase>
@{
    string strTitle = "Панель адміністратора";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2><br />
    <div>
        <div class="div-box">
            @Html.ActionLink("Керування записами", "Index", "Records", new { area = "Admin" }, null)
        </div>
    </div>
    <br />
    <div class="div-box">
        @Html.ActionLink("Вийти", "Logout", "Home", null)
    </div>
</div>
