@using Finances.Domain.Entities;
@model IndexViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Новий запис</h1>

<h4>EntityBase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" value="@User.Identity.Name" asp-for="EntityBase.TheUser" class="form-control" />
                <input type="hidden" value="noFamily" asp-for="EntityBase.Family" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EntityBase.Amount" class="control-label"></label>
                <input asp-for="EntityBase.Amount" class="form-control" />
                <span asp-validation-for="EntityBase.Amount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                Дохід?
                <select asp-for="EntityBase.Direction" id="Direction">
                    <option value="@true">Дохід</option>
                    <option value="@false">Витрати</option>
                </select>
            </div>
            <div id="selectcategories" class="form-group">
                <label asp-for="EntityBase.Category" class="control-label"></label>
                <select asp-for="EntityBase.Category" asp-items="ViewBag.CategoriesList" id="selectcategories"></select>
                <span asp-validation-for="EntityBase.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" value="@DateTime.Now" asp-for="EntityBase.DateAdded" class="form-control" />
                <span asp-validation-for="EntityBase.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
