@model IEnumerable<Finances.Domain.Entities.User>
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Додати користувача до групи </h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Користувачі:
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        <a asp-controller="Profile" asp-action="Index" asp-route-userName="@item.UserName">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </a>
                    </th>
                    <th>
                        <form asp-action="AddUserToFamily">
                            <input type="hidden" value="@item.Id" name="userId" />
                            <input type="hidden" value="@ViewBag.familyid" name="familyId" />
                            <input type="submit" value="Додати" class="btn btn-primary" />
                        </form>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>