<div class="textarea">
    <form id="main_form">
        <p><strong>Додати запис:</strong></p><br>
        <p><input id="text" maxlength="25" size="40" value="" required pattern="\d+(.\d{2})?"></p>
        <p><input type="button" onClick="build();" value="Додати"></p>
        <input id="income" type="radio" value="income" checked name="tech" />Дохід&nbsp
        <input id="consumption" type="radio" value="consumption" checked name="tech" />Витрати
        <select>
            <option>Продукти</option>
            <option>Не продукти</option>
        </select>
    </form>
</div>
<div id="archive">
    <table id="archive_table">
    </table>
</div>