@model Finances.Domain.Entities.EntityBase

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>EntityBase</h4>
<hr />
<div class="row">
    @using (Html.BeginForm("Edit", "Records"))
    {
        <fieldset>
            <legend> Редагування </legend>
            <p>
                Сума <br />
                @Html.EditorFor(model => model.Amount)
            </p>

            <p>
                Дохід? <br />
                @Html.EditorFor(model => model.Direction)
            </p>

            <p>
                Категорія <br />
                @Html.EditorFor(model => model.Category)
            </p>

            <p>
                <input type="submit" value="Змінити" />
            </p>

        </fieldset>
    }
    <div>
        @Html.ActionLink("Назад", "Index")
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
