* {
    margin: 0px;
    box-sizing: border-box;
}

.main_content {
    position: fixed;
    top: 64px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.sitename {
    border: 1px solid black;
    background-color: #01A65F;
    padding: 10px;
    padding-left: 15px;
    font-size: 150%;
}

.column {
    float: left;
    padding: 10px;
    height: 100%;
}

.left {
    width: 20%;
    border: 1px solid black;
    background-color: #32BF83;
    padding-top: 15px;
    padding-left: 15px;
}

.options a {
    color: black;
}

.right {
    width: 80%;
    padding-left: 15px;
    border: 1px solid black;
    background-color: #74FFC4;
}

.textarea {
    padding-top: 15px;
}

dl {
	margin: 0 0 20px 0;
	overflow: hidden;    
}
dt {
	font-weight: bold;
	margin: 0;
	padding: 5px 0;
	width: 150px;
	float: left;
	clear: both;
}

dt:after {
	content: ":";
}

dd {
	margin: 0 0 0 150px;
	padding: 5px 0;
}

#text {
    float: left;
}

#archive {
    padding-top: 15px;
}